In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:
df = pd.read_csv('thyroidDF.csv')
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9172 non-null   int64
 1   sex                  8865 non-null   object
 2   on_thyroxine         9172 non-null   object
 3   query_on_thyroxine   9172 non-null   object
 4   on_antithyroid_meds  9172 non-null   object
 5   sick                 9172 non-null   object
 6   pregnant             9172 non-null   object
 7   thyroid_surgery      9172 non-null   object
 8   I131_treatment       9172 non-null   object
 9   query_hypothyroid    9172 non-null   object
 10  query_hyperthyroid   9172 non-null   object
 11  lithium              9172 non-null   object
 12  goitre               9172 non-null   object
 13  tumor                9172 non-null   object
 14  hypopituitary        9172 non-null   object
 15  psych                9172 non-null   object
 16  TSH_measured         9172 non-null   object
 17  TSH                  8330 non-null   float64
 18  T3_measured          9172 non-null   object
 19  T3                   6568 non-null   float64
 20  TT4_measured         9172 non-null   object
 21  TT4                  8730 non-null   float64
 22  T4U_measured         9172 non-null   object
 23  T4U                  8363 non-null   float64
 24  FTI_measured         9172 non-null   object
 25  FTI                  8370 non-null   float64
 26  TBG_measured         9172 non-null   object
 27  TBG                  349 non-null    float64
 28  referral_source      9172 non-null   object
 29  target               9172 non-null   object
 30  patient_id           9172 non-null   int64
dtypes: float64(6), int64(2), object(23)
memory usage: 2.2+ MB

# A. DATA PREPROCESSING

In [4]:
diagnosis = {'-': 'negative',
             'A': 'hyperthyroid', 
             'B': 'hyperthyroid', 
             'C': 'hyperthyroid', 
             'D': 'hyperthyroid',
             'E': 'hypothyroid', 
             'F': 'hypothyroid', 
             'G': 'hypothyroid', 
             'H': 'hypothyroid'}
df['target'] = df['target'].map(diagnosis)
df.dropna(subset=['target'], inplace=True)

In [5]:
df['target']

0       negative
1       negative
2       negative
3       negative
5       negative
          ...
9166    negative
9167    negative
9168    negative
9170    negative
9171    negative
Name: target, Length: 7546, dtype: object

In [6]:
df.describe()

,age,TSH,T3,TT4,T4U,FTI,TBG,patient_id
count,7546.000000,6824.000000,5337.000000,7192.000000,6870.000000,6877.000000,259.000000,7.546000e+03
mean,78.013782,5.421753,2.020935,105.203373,0.967322,110.571745,22.955019,8.529713e+08
std,1305.258137,26.080471,0.809865,32.606462,0.162315,36.600867,6.088392,7.561373e+06
min,1.000000,0.005000,0.050000,2.000000,0.190000,1.400000,0.100000,8.408010e+08
25%,37.000000,0.570000,1.600000,87.000000,0.870000,93.000000,20.000000,8.504100e+08
50%,55.000000,1.400000,2.000000,103.000000,0.960000,108.000000,23.000000,8.510090e+08
75%,67.000000,2.700000,2.300000,121.000000,1.060000,125.000000,27.000000,8.607111e+08
max,65526.000000,530.000000,18.000000,430.000000,2.120000,839.000000,45.000000,8.701190e+08

Mendapatkan informasi tentang data,

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7546 entries, 0 to 9171
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  7546 non-null   int64
 1   sex                  7296 non-null   object
 2   on_thyroxine         7546 non-null   object
 3   query_on_thyroxine   7546 non-null   object
 4   on_antithyroid_meds  7546 non-null   object
 5   sick                 7546 non-null   object
 6   pregnant             7546 non-null   object
 7   thyroid_surgery      7546 non-null   object
 8   I131_treatment       7546 non-null   object
 9   query_hypothyroid    7546 non-null   object
 10  query_hyperthyroid   7546 non-null   object
 11  lithium              7546 non-null   object
 12  goitre               7546 non-null   object
 13  tumor                7546 non-null   object
 14  hypopituitary        7546 non-null   object
 15  psych                7546 non-null   object
 16  TSH_measured         7546 non-null   object
 17  TSH                  6824 non-null   float64
 18  T3_measured          7546 non-null   object
 19  T3                   5337 non-null   float64
 20  TT4_measured         7546 non-null   object
 21  TT4                  7192 non-null   float64
 22  T4U_measured         7546 non-null   object
 23  T4U                  6870 non-null   float64
 24  FTI_measured         7546 non-null   object
 25  FTI                  6877 non-null   float64
 26  TBG_measured         7546 non-null   object
 27  TBG                  259 non-null    float64
 28  referral_source      7546 non-null   object
 29  target               7546 non-null   object
 30  patient_id           7546 non-null   int64
dtypes: float64(6), int64(2), object(23)
memory usage: 1.8+ MB

pada datasets terdapat data redudant, terdapat 7 kolom redundant, yaitu array dengan npmoe 16 TSH_measured, 18 T3_measured, 20 T4_measured 22 T4U_measured, 24 FTI_measured, 26 TBG_measured, refral_score.

Selanjutnya akan kami hapus kolom redundant, dan menghapus kolom id pasien

In [8]:
df.drop([
    'TSH_measured',
    'T3_measured',
    'TT4_measured',
    'T4U_measured',
    'FTI_measured',
    'TBG_measured',
    'referral_source',
    'patient_id'
], axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7546 entries, 0 to 9171
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  7546 non-null   int64
 1   sex                  7296 non-null   object
 2   on_thyroxine         7546 non-null   object
 3   query_on_thyroxine   7546 non-null   object
 4   on_antithyroid_meds  7546 non-null   object
 5   sick                 7546 non-null   object
 6   pregnant             7546 non-null   object
 7   thyroid_surgery      7546 non-null   object
 8   I131_treatment       7546 non-null   object
 9   query_hypothyroid    7546 non-null   object
 10  query_hyperthyroid   7546 non-null   object
 11  lithium              7546 non-null   object
 12  goitre               7546 non-null   object
 13  tumor                7546 non-null   object
 14  hypopituitary        7546 non-null   object
 15  psych                7546 non-null   object
 16  TSH                  6824 non-null   float64
 17  T3                   5337 non-null   float64
 18  TT4                  7192 non-null   float64
 19  T4U                  6870 non-null   float64
 20  FTI                  6877 non-null   float64
 21  TBG                  259 non-null    float64
 22  target               7546 non-null   object
dtypes: float64(6), int64(1), object(16)
memory usage: 1.4+ MB

melakukan pengecekan nilai usia yang lebih dari 100, nilai lebih dari 100 tahun akan tidak digunakan

In [10]:
df[df.age > 100]

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,TBG,target
2976,455,F,f,f,f,f,f,f,f,f,...,f,f,f,1.10,2.0,118.0,1.13,104.0,NaN,negative
5710,65511,M,f,f,f,f,f,f,f,f,...,f,f,f,0.38,2.0,113.0,1.08,104.0,NaN,negative
6392,65512,M,f,f,f,f,f,f,f,f,...,f,f,f,0.03,2.8,112.0,0.84,133.0,NaN,negative
8105,65526,F,f,f,f,f,f,f,f,f,...,f,f,f,1.50,NaN,132.0,1.02,129.0,NaN,negative

mengubah nilai usia > 100 dengan null

In [11]:
df['age'] = np.where((df.age>100), np.nan, df.age)

In [12]:
df['age'] > 100

0       False
1       False
2       False
3       False
5       False
        ...
9166    False
9167    False
9168    False
9170    False
9171    False
Name: age, Length: 7546, dtype: bool

In [13]:
# fig, axes = plt.subplots(3, 2,figsize=(20,16))
# fig.suptitle('Perbandingan atribut terhadap Target')
# sns.set_style('whitegrid');

# sns.stripplot(x=df.target, y=df.TSH, linewidth=0.6, jitter= 0.3, ax=axes[0, 0])
# sns.stripplot(x=df.target, y=df.T3, linewidth=0.6, jitter= 0.3, ax=axes[0, 1])
# sns.stripplot(x=df.target, y=df.TBG, linewidth=0.6, jitter= 0.3, ax=axes[1, 0])
# sns.stripplot(x=df.target, y=df.T4U, linewidth=0.6, jitter= 0.3, ax=axes[1, 1])
# sns.stripplot(x=df.target, y=df.TT4, linewidth=0.6, jitter= 0.3, ax=axes[2, 0])
# sns.stripplot(x=df.target, y=df.FTI, linewidth=0.6, jitter= 0.3, ax=axes[2, 1])
# plt.show()

In [14]:
# numericalDF = df[['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'target']].copy()
# sns.set_style('whitegrid');
# sns.pairplot(numericalDF, hue='target', height=3);
# plt.show()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7546 entries, 0 to 9171
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  7542 non-null   float64
 1   sex                  7296 non-null   object
 2   on_thyroxine         7546 non-null   object
 3   query_on_thyroxine   7546 non-null   object
 4   on_antithyroid_meds  7546 non-null   object
 5   sick                 7546 non-null   object
 6   pregnant             7546 non-null   object
 7   thyroid_surgery      7546 non-null   object
 8   I131_treatment       7546 non-null   object
 9   query_hypothyroid    7546 non-null   object
 10  query_hyperthyroid   7546 non-null   object
 11  lithium              7546 non-null   object
 12  goitre               7546 non-null   object
 13  tumor                7546 non-null   object
 14  hypopituitary        7546 non-null   object
 15  psych                7546 non-null   object
 16  TSH                  6824 non-null   float64
 17  T3                   5337 non-null   float64
 18  TT4                  7192 non-null   float64
 19  T4U                  6870 non-null   float64
 20  FTI                  6877 non-null   float64
 21  TBG                  259 non-null    float64
 22  target               7546 non-null   object
dtypes: float64(7), object(16)
memory usage: 1.4+ MB

Melakukan pengecekan pada data, untuk menemukan nilai mising value pada masing-masing kolom di datasets

In [16]:
misingness = df.isnull().sum().sum()/df.count().sum()
print('Overall Misiness pada data adalah : {:.2f}%'.format(misingness*100))

Overall Misiness pada data adalah : 7.54%

In [17]:
def missing_table(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    mising_data = pd.concat([total, percent], axis=1, keys=['Total','Percent'])
    return mising_data

missing_table(df).head(10)

        Total   Percent
TBG      7287  0.965677
T3       2209  0.292738
TSH       722  0.095680
T4U       676  0.089584
FTI       669  0.088656
TT4       354  0.046912
sex       250  0.033130
age         4  0.000530
goitre      0  0.000000
psych       0  0.000000

In [18]:
# df['n_mising'] = df.isnull().sum(axis=1)
# sns.histplot(df, x='n_mising', binwidth=0.5, hue='target')

Berdasarkan hasil pengecekan datasets, terdapat 7 kolom yang mengandung nilai mising. antara lain sex 307 baris, TSH 842 baris,T3 2604, TT4 442, T4U 809, FTI 802, TBG 8823,

mengingat mising value yang terdapat pada dataset sangat tidak relevan jika menyelesaikanya dengan cara yang konvensional, seperti nilai men, median, modus. pada pendekatan ini kami gunakan algortima KNN imputer untuk menyelesaikanya. setelah menemukan data mising pada colum selanjutnya melakukan seleksi terhadap kolom yang memiliki nilai mising.

In [19]:
df.replace('f',0, inplace=True)
df.replace('t',1, inplace=True)

In [20]:
df.replace('F',0, inplace=True)
df.replace('M',1, inplace=True)

In [21]:
# df.drop(['TBG'], axis=1, inplace=True)
df.dropna(subset=['age'], inplace=True)

df['sex'] = np.where((df.sex.isnull()) & (df.pregnant == 't'), 'F', df.sex)

# Memperbaiki data Nan

In [22]:
df['n_missing'] = df.isnull().sum(axis=1)
sns.histplot(df, x='n_missing', binwidth=0.5, hue='target')

In [23]:
df.drop(df.index[df['n_missing'] > 2], inplace=True)
missing_table(df).head(10)

        Total   Percent
TBG      6552  0.994385
T3       1643  0.249355
TSH       139  0.021096
T4U         4  0.000607
TT4         2  0.000304
FTI         1  0.000152
age         0  0.000000
sex         0  0.000000
target      0  0.000000
psych       0  0.000000

In [24]:
import xgboost as xgb
xgbdf = df.replace(np.nan, 0)

In [25]:
xgbdf.drop('n_missing', axis=1)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,TBG,target
18,63.0,0.0,1,0,0,1,0,0,0,0,...,0,0,0,68.00,0.0,48.0,1.02,47.0,0.0,hypothyroid
19,36.0,0.0,0,0,0,0,0,0,0,1,...,0,0,0,1.50,2.4,90.0,1.06,85.0,0.0,negative
21,40.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,1.20,2.3,104.0,1.08,96.0,0.0,negative
22,40.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,5.90,2.1,88.0,0.84,105.0,0.0,negative
23,77.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0.05,2.4,107.0,1.13,95.0,0.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9151,84.0,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0.34,0.0,105.0,0.93,113.0,0.0,negative
9152,80.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,3.30,0.0,111.0,0.92,121.0,0.0,negative
9154,16.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,2.60,0.0,122.0,0.86,142.0,0.0,negative
9155,54.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,1.10,0.0,105.0,0.82,128.0,0.0,negative
9156,78.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0.97,0.0,97.0,0.73,133.0,0.0,negative

In [26]:
diagnoses = {
    'negative': 0,
    'hypothyroid': 1,
    'hyperthyroid': 2,
}
xgbdf['target']=xgbdf['target'].map(diagnoses)
xgbdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6589 entries, 18 to 9156
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  6589 non-null   float64
 1   sex                  6589 non-null   object
 2   on_thyroxine         6589 non-null   int64
 3   query_on_thyroxine   6589 non-null   int64
 4   on_antithyroid_meds  6589 non-null   int64
 5   sick                 6589 non-null   int64
 6   pregnant             6589 non-null   int64
 7   thyroid_surgery      6589 non-null   int64
 8   I131_treatment       6589 non-null   int64
 9   query_hypothyroid    6589 non-null   int64
 10  query_hyperthyroid   6589 non-null   int64
 11  lithium              6589 non-null   int64
 12  goitre               6589 non-null   int64
 13  tumor                6589 non-null   int64
 14  hypopituitary        6589 non-null   int64
 15  psych                6589 non-null   int64
 16  TSH                  6589 non-null   float64
 17  T3                   6589 non-null   float64
 18  TT4                  6589 non-null   float64
 19  T4U                  6589 non-null   float64
 20  FTI                  6589 non-null   float64
 21  TBG                  6589 non-null   float64
 22  target               6589 non-null   int64
 23  n_missing            6589 non-null   int64
dtypes: float64(7), int64(16), object(1)
memory usage: 1.3+ MB

In [27]:
X = xgbdf.drop('target', axis=1).copy()
y = xgbdf['target'].replace(np.nan, 0).copy()

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=123456
)

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
print(y_train)
print(X_train)
print(y_test)
print(X_test)

404     0
3343    0
2861    0
8600    0
1980    1
       ..
266     0
5137    0
4457    0
6486    0
8684    1
Name: target, Length: 4941, dtype: int64
[[-0.24764814  1.44199682 -0.36004115 ... -0.28014314 -0.07371366
  -0.59225121]
 [-1.00501198 -0.6934828  -0.36004115 ... -0.53989856 -0.07371366
  -0.59225121]
 [ 0.67200795 -0.6934828  -0.36004115 ...  0.87432538 -0.07371366
  -0.59225121]
 ...
 [-1.00501198  1.44199682 -0.36004115 ... -0.25128143 -0.07371366
  -0.59225121]
 [ 0.40152086 -0.6934828  -0.36004115 ...  1.07635737 -0.07371366
   1.62465274]
 [ 1.05068987 -0.6934828  -0.36004115 ... -0.6264837  -0.07371366
   1.62465274]]
3577    0
3362    0
6188    0
2708    0
7869    0
       ..
5114    0
6796    0
8096    0
8121    0
3769    0
Name: target, Length: 1648, dtype: int64
[[-0.8198067  -0.74038474 -0.37481253 ... -0.62925764 -0.07152117
  -0.58162106]
 [-0.22415717 -0.74038474 -0.37481253 ...  0.94425867 -0.07152117
  -0.58162106]
 [ 1.29204164 -0.74038474 -0.37481253 ... -1.26933207 -0.07152117
  -0.58162106]
 ...
 [-2.82335513 -0.74038474 -0.37481253 ...  0.30418424 -0.07152117
   1.63715559]
 [ 1.77939126 -0.74038474 -0.37481253 ...  0.49087261 -0.07152117
   1.63715559]
 [-0.49490695 -0.74038474 -0.37481253 ... -0.06919251 -0.07152117
  -0.58162106]]

In [30]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', random_state=12345)
classifier.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').